
body{
    
}
.back{
    background-image: url(as.jpg);
    background-repeat: no-repeat;
background-size: cover;
}
#clock{
background-image: url(clock.png);
background-repeat: no-repeat;
position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background-size: 100%;
}
#hour, #min , #sec{
    background-color: black;
    position: absolute;
    border-radius: 66px; 
    transform-origin: bottom;

}
#hour{
    width: 1.8%;
    height: 21%;
    top: 28%;
    left: 48.85%;
    opacity: 0.8;

}
#min{
    width: 1.8%;
height: 28%;
top: 21%;
left: 48.85%;
opacity: 0.9;
}
#sec{
    width: 1.8%;
    height: 31%;
    top: 19%;
    left: 48.85%;
    opacity: 0.8;
  

}
footer{color: gray; text-decoration: underline;
}
@media screen and (max-width:900px) {
 
    body{
        background-color: rgb(187, 246, 51);
        
    }
    footer{
        height: 126vh;
        background-image: url(pic.jpg);
        display: flex;
align-items: end;
color: blue;
color: #ffcb00;
    }
 
}
*{margin: 0;
padding: 0;}